
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    z-index: 10;
    box-sizing: border-box;
    height: 50px;

    position: sticky;
    top: 0px;
    
    background-color: $primary;

    .logo {
        height: 50px;
    }
}

.dropdown-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    
    .dropdown-button {
        color: $light-primary;
        padding: 5px;
        border-radius: $small-radius;
    }

    .dropdown {
        visibility: hidden;
        position: absolute;

        width: 250px;
        box-sizing: border-box;

        // top: -500px;
        top: 50px;

        // right: -250px;
        right: 0px;

        // padding: 5px;
        padding-bottom: 10px;

        border-radius: $small-radius;

        background-color: $light-secondary;

        // transition-property: top, visibility;
        // transition-duration: .3s;

        > div {
            div {
                // padding: 10px;
            }
        }

        > div:after {
            content: "";
            height: 1px;
            margin: 5px;
            display: block;
            background-color: $light-secondary;
        }

        > div:last-child:after {
            display: none;
        }
    }

    a, button, .guestname {
        color: black;
        background-color: $lighter-secondary;
        font-family: $font-family;
        text-decoration: none;
        display: block;
        padding: 10px;
        margin: 10px;
        box-sizing: border-box;
        border: none;
        border-radius: $small-radius;
    }

    .guestname {
        background-color: transparent;
    }

    button {
        width: 230px;

    }

    a:active {
        background-color: $light-primary;
        color: $primary;
    }

    .dropdown-backdrop {
        visibility: hidden;
    }

}

.dropdown-container.open {

    .dropdown {
        visibility: visible;
        // right: 0px;
        // top: 50px;
    }

    .dropdown-backdrop {
        visibility: visible;
        position: fixed;
        width: 100vw;
        height: 100vw;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background-color: rgba($color: #000000, $alpha: 0.01);
        z-index: -1;
    }

    .dropdown-button {
        color: $primary;
        background-color: $light-primary;
    }

}

.acorn-icon {
    height: 16px;
    margin: 5px;
}

.username, .guestname {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
}