
$font-family: monospace;

$light-primary: #E1F9A4;
$primary: #9AbC45;

$lighter-secondary: whitesmoke;
$light-secondary: lightgray;
$secondary: gray;

$like-color: maroon;
$like-active-color: red;

$small-radius: 5px;