
$font-family: monospace;

$light-primary: #E1F9A4;
$primary: #9AbC45;
$darkest-primary: #4d6313;

$lighter-secondary: whitesmoke;
$light-secondary: lightgray;
$secondary: gray;

$like-color: maroon;
$like-active-color: red;

$small-radius: 5px;

$transition: all 0.5ms cubic-bezier(0.310, -0.105, 0.430, 1.400);

// #009549
// #45B549